.servizi_body {
  background-color: #F5F5F7;
}

.servizi {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F7;
  height: 80vh;
  display: flex;
  width: 80%;
  padding-left: 20%;
}

.servizi_img {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center; /* Allinea verticalmente l'immagine */
  overflow: hidden; /* Evita eventuali contenuti fuoriusciti */
}

.servizi_desiato {
  max-width: 100%; /* Adatta la larghezza massima all'interno del contenitore */
  max-height: 100%; /* Adatta l'altezza massima all'interno del contenitore */
  object-fit: contain; /* Mantieni proporzioni senza tagliare */
}

.servizi_action {
  padding: 0px 20px;
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.servizi_title {
  text-align: left;
  font-family: 'Poppins';
  font-weight: 800;
  margin: 0px;
}

.servizi_description {
  font-family: 'Poppins';
  font-weight: 400;
}

.servizi_divisore {
  width: 100%;
  height: 4px;
  background-color: #FF8801;
}
.servizi_card {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente */
  background-color: #F5F5F7;
}

.card_container {
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  width: 75%;
  height: 80%; /* Ridotto per lasciare margini */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Aggiunto ombra */
  justify-content: center; /* Allinea il contenuto orizzontalmente */
  align-items: center; /* Allinea il contenuto verticalmente */
  padding: 20px; /* Aggiunge margini interni per evitare che il contenuto tocchi i bordi */
}

.card_details {
  width: 30%; /* Più spazio per i dettagli */
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.image {
  width: 100%;
  max-width: 560px;
  height: auto;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}


.card_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}



.details_title {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Aggiunge spazio tra titolo e freccia */
  align-items: center;
}

.details_button {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left; /* Testo allineato a sinistra */
  display: flex;
  justify-content: space-between; /* Allinea testo e freccia */
}

.arrow {
  font-size: 18px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(180deg);
}

.details_description {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-family: 'Poppins';
  font-weight: 300;
}


  
.servizi_divider {
  max-width: 1200px;
  margin: 40px auto;
}

.servizi_divider h2 {
  background-color: #F5F5F7;
  font-family: "Poppins";
  font-size: 2rem;
  margin-bottom: 10px;
  color: #FF8801;
  text-align: center;
}

.servizi_divider hr {
  margin: 0 auto;
  border: 2px solid #FF8801;
  width: 80%;
}

@media (min-width: 1200px) {
  .servizi {
    height: 70vh;
    width: 85%;
    padding-left: 15%;
  }

  .servizi_card {
    height: 90vh;
  }

  .card_container {
    width: 70%;
    height: 75%;
  }
}
.section-wrapper {
    font-family: "Poppins";
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  html {
    scroll-behavior: smooth;
  }

  .first-section {
    margin-top: 80px; 
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .video-container {
    width: 100%; /* Adatta il video al 100% della larghezza del contenitore */
    max-width: 100%; /* Limita la larghezza massima */
    height: auto; /* Mantieni il rapporto di aspetto */
    object-fit: cover; /* Rende il video adattabile al contenitore */
    border-radius: 10px; /* Aggiungi angoli arrotondati se desiderato */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra per l'effetto visivo */
  }
  
  
  .reverse-layout {
    flex-direction: row-reverse;
  }
  
  .normal-layout {
    flex-direction: row;
  }

  .text hr {
    margin: 0 auto;
    border: 2px solid #FF8801;
    text-align: left;
  }
  
  .image-container {
    flex: 1;
    max-width: 50%;
  }
  
  .image-container img {
    width: 90%;
    height: auto;
    border-radius: 10px;
  }
  
  .text {
    text-align: left;
    flex: 1;
    max-width: 40%;
  }
  
  .divider {
    max-width: 1200px;
    margin: 40px auto;
  }
  
  .divider h2 {
    font-family: "Poppins";
    font-size: 2rem;
    margin-bottom: 10px;
    color: #FF8801;
    text-align: center;
  }
  
  .divider hr {
    margin: 0 auto;
    border: 2px solid #FF8801;
    width: 80%;
  }

  .image_presentazione {
    height: auto;
    width: 800px;
  }


  .plus {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
  }
  .highlight {
    color: #FF8801;
    font-weight: bold;
  }
  
  .logo-small {
    display: block;
    margin-bottom: 2px;
    max-width: 100px; /* Regola la larghezza massima del logo */
    height: auto; /* Mantiene le proporzioni */
  }
  
  /* Certificazioni  */

  .timeline {
    font-family: "Poppins";
  }

  
 .certified-section {
    font-family: "Poppins";
    padding: 2rem;
  
    .centered-text {
      text-align: center;
      margin-bottom: 2rem;
  
      h3 {
        font-size: 1.8rem;
        font-weight: bold;
        color: #333;
      }
    }
  
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
        justify-items: center; 
        margin: 0 auto; 
        max-width: 1200px;
  
    .grid-item {
      display: flex;
      align-items: center;
      gap: 1rem;
  
      img {
        width: 20%; /* Imposta una larghezza fissa */
        height: auto; /* Mantieni le proporzioni */
        object-fit: contain; /* Garantisce che l'immagine non venga deformata */
        max-width: 100%; /* Assicura che non superi le dimensioni del contenitore */
      }
  
      .text-content {
        h5 {
          font-size: 1.2rem;
          margin: 0;
          color: #555;
        }
  
        p {
          font-size: 0.9rem;
          color: #777;
          line-height: 1.5;
        }
      }
    }
  }
 }

 @media (max-width: 1199px) and (min-width: 768px) {
  .image_presentazione {
    width: 100%;
} 

}

/* Laptop piccoli (MacBook Pro 13", portatili aziendali, ecc.) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .image_presentazione {
    height: auto;
    width: 600px;
}
}

/* Laptop medi (MacBook Pro 14", desktop HD) */
@media (min-width: 1201px) and (max-width: 1440px) {
  .image_presentazione {
    height: auto;
    width: 600px;
}
}

/* Desktop grandi */
@media (min-width: 1441px) and (max-width: 1560px) {

}



 @media only screen and (max-width: 768px) {
.image_presentazione {
  width: 100%;
}
  .text {
    max-width: 100%;
  }
  .normal-layout {
    flex-direction: column;
}
  .reverse-layout {
    flex-direction: column;
}
.image-container {
  max-width: 100%;
}

.normal-layout {
    flex-direction: column;
}
.certified-section .grid-container {
 display: flex;
 flex-direction: column;
}
 }

@media (min-width: 1025px) and (max-width: 1199px) {
  .servizi {
    flex-direction: row;
    height: 75vh;
    padding-left: 8%;
    width: 85%;
  }

  .servizi_img {
    width: 45%;
    justify-content: center;
  }

  .servizi_action {
    width: 55%;
  }

  .servizi_card {
    height: 85vh;
    padding: 10px;
  }

  .card_container {
    width: 80%;
    height: 70%;
    flex-direction: row;
  }

  .card_details {
    width: 40%;
    margin-left: 30px;
    text-align: left;
  }

  .card_image {
    width: 60%;
    justify-content: center;
  }

  .image {
    max-width: 100%;
  }
}

/* Laptop piccoli (MacBook Pro 13", portatili aziendali, ecc.) */
@media (min-width: 1025px) and (max-width: 1200px) {

}

/* Laptop medi (MacBook Pro 14", desktop HD) */
@media (min-width: 1201px) and (max-width: 1440px) {
  .card_container {
    width: 90%;
    height: auto;
}
.details_description {
  text-align: start;
}
}

/* Desktop grandi */
@media (min-width: 1441px) and (max-width: 1560px) {

}


 
@media (max-width: 1199px) and (min-width: 768px) {
  .servizi {
    flex-direction: row;
    height: auto;
    padding-left: 5%;
    width: 90%;
  }

  .servizi_img {
    width: 50%;
    justify-content: center;
    margin-bottom: 20px;
  }

  .servizi_action {
    width: 50%;
  }

  .servizi_card {
    height: auto;
    padding: 5px;
  }

  .card_container {
    width: 90%;
    height: auto;
    flex-direction: column;
  }

  .card_details {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .card_image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image {
    max-width: 90%;
  }
  .details_description {
    text-align: start;}
}

@media (max-width: 767px) {
  .servizi {
    flex-direction: column-reverse;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .servizi_img {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 36%;
    overflow: hidden;
  }

  .servizi_action {
    width: 90vw;
    text-align: left;
    margin-top: -18%;
  }

  .servizi_card {
    height: auto;
    padding: 10px;
  }

  .card_container {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .card_details {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .card_image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image {
    max-width: 90%;
  }

  .details_button {
    font-size: 18px;
  }

  .details_description {
    font-size: 14px;
  }
  .details_description {
    text-align: start;}
}
